{% extends "users/base.html" %}

{% block title %} Add Course {% endblock %}
{% block heading %} Add Course {% endblock %}

    <div>
        {% block content %}


            {{available_courses.course_name}}

            <h3>Available courses for {{user_profile.degree_title}} students </h3>
            {% if available_courses %}



                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Course</th>
                                <th scope="col">For</th>
                                <th scope="col">Time</th>
                                <th>Add</th>
                            </tr>
                        </thead>
                        <tbody>
                        
                            
                            {% for course in available_courses %}
                            <form action="" method="POST">
                                {% csrf_token %}
                            <tr>
                                <td><input type="text" hidden name="course" value="{{course.course_name}}">{{course.course_name}}</td>
                                <td>{{course.course_for}}</td>
                                <td>{{course.course_time}}</td>
                                <td><button class=" btn  btn-sm btn-outline-secondary" type="submit">Add Course!</button></td>
                            </tr>
                            </form>
                            {% endfor %}
                           

                                  

                                  
                        </tbody>
                                
                    </table>
                              
            

            
            {% else %}
            <p class="red">You currently have no courses available to enroll, thats either because you've already enrolled in
                the maximum number of courses or because the time to enroll is over. Feel free to send a complain
                throuhg the request section if you believe it is some error.
            </p>
            {% endif %}
        {% endblock %}
    </div>
                    