{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'users/register_style.css' %}">
    <script src="https://kit.fontawesome.com/76bcdcf8dd.js" crossorigin="anonymous"></script>

    <title>{% block title %} Dashboard {% endblock %}</title>
</head>
<body>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}

            </div>
        {% endfor %}
    {% endif %}

    <div class="box">

        <div class="nav">
            
            <a href="/dashboard"><h2>STEP </h2></a>  &nbsp;
            <small>  V3.0 </small>

                
                <a href="#"><i class="fa-solid fa-bars requests"></i></a> &nbsp; &nbsp; 
                <a href="#"><i class="fa-regular fa-message "></i></a> &nbsp; &nbsp; 
                <a href="/settings" title="Settings"><i class="fa-solid fa-gear"></i></a>  &nbsp; &nbsp; 

                <div class="oval_div">
                    <small> {{today}} |</small>  &nbsp; <small> {{current_time}}  |</small>
                    <small> Welcome to STEP 3.0 </small>
                    {{now}}
                </div>

                <dv class="profile_div">
                    <a href="/profile/{{user}}">
                        <img class="img-fluid " src="{{ user_profile.profile_img.url }}">
                        <span>Hi, {{user}}</span>

                        <i class="fa-solid fa-caret-down"></i>
                    </a>
                    <a href="/logout">Logout</a>
                </dv>
        </div>  
                <br>   <br>
              
         
                <!--top line end-->


            <!--vertical nav-->
            <div class="row">
                <div class="col-lg-2">
                    <div class="vertical_nav nav">
                
                        <ul>
                            <li class="text-center">Menu</li>
                            <a href="/dashboard"><li><i class="fa-brands fa-slack"></i>  Dashboard</li></a>
                            <a href="/add_course"><li><i class="fa-brands fa-slack"></i>  Add courses </li></a>
                            <a href="/enrollment"><li><i class="fa-brands fa-slack"></i>  Enrollment </li></a>
                            <a href="/fees"><li><i class="fa-brands fa-slack"></i>  Fee Voucher</li></a>
                            <a href="/voting"><li><i class="fa-brands fa-slack"></i>  Voting</li></a>
                            <a href="/profile/{{user}}"><li><i class="fa-brands fa-slack"></i>  Profile</li></a>
                            <a href="/settings"><li><i class="fa-brands fa-slack"></i>  Settings</li></a>
                            <a href="/request"><li><i class="fa-brands fa-slack"></i>  Requests</li></a>
                            <a href="/view_requests"><li><i class="fa-brands fa-slack"></i>  View Requests</li></a>
                            <a href="/online_class"><li><i class="fa-brands fa-slack"></i>  Online Class</li></a>
                            <a href="/exam"><li><i class="fa-brands fa-slack"></i>  Exam Schedule</li></a>
                            <a href="#"><li><i class="fa-brands fa-slack"></i>Testing Module (beta)</li></a>
                            <a href="#"><li><i class="fa-brands fa-slack"></i>  Real Enrollment</li></a>
                            <a href="#"><li><i class="fa-brands fa-slack"></i>  Student Information form</li></a>
                        </ul>
                        
                    </div>
                        <br>

                    {% block nav %}
                    
                    {% endblock %}
                    
                </div>

                <div class="col-lg-10">
                    <div class="right_side_main">
                        
                        <div class="content">
                            <h2>{% block heading %} Dashboard {% endblock %}</h2>

                            <small class="welcome">Welcome back, {{user}}!  </small>

                            <br><br>
                            <div class="notice">
                                    <small>Please note that the Students can only apply for requests between 10am to 4pm (Monday to Friday only)<br> <span>Account Title : ILMA UNIVERSITY Fees Payorder to be made in the name of ILMA UNIVERSITY- NTN NO: 2840797-7</span></small>
                            </div>

                            <hr>

                                <div>
                                    {% block content %}
                                
                                    {% endblock %}
                                </div>
                        </div>
                    </div>

                </div>
            </div>


             




            
        




    </div>

    <script src="{% static 'users/script.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>