{% extends "users/base.html" %}

{% block title %} Enrollment {% endblock %}

{% block heading %} Enrollment {% endblock %}

  <div>
    {% block content %}


    {% if student_courses %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Course name</th>
          <th scope="col">Time</th>
          <th scope="col">For</th>
          <th scope="col">Edit</th>
          </tr>
      </thead>
      <tbody>

      {% for course in student_courses %}
          <tr>
            <th scope="row">{{course.course_name}}</th>
            <td>{{course.course_time}}</td>
            <td>{{course.course_for}}</td>
            <form method="POST" action="/delete_course/">
               {% csrf_token %}
                <input name="delete_course" type="hidden" value="{{course.course_name}}">
                <td><button type="submit", class="btn btn-sm btn-outline-danger">Drop Course</button></td>
            </form>
          </tr>
      {% endfor %}


                                  
      </tbody>
    </table>


    {% else %}
    <p class="red">You are currently not enrolled in any courses, you can go to add course and get enrolled now. Feel free to send a complain
      throuhg the request section if you believe it is some error.
    </p>
    {% endif %}

                            

  {% endblock %}        
  
  
  
  </div>


            
  