{% extends "users/base.html" %}

{% block title %} Online Class {% endblock %}

{% block heading %} Online Class {% endblock %}

<div>
    {% block content %}

                            <h3>Online classes for {{user_profile.user}}  </h3>

                            {% if class_time == 'no' %}

                            <p class="online_class">{{shift_course}} </p>
                           

                            {% else %}

                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">Course</th>
                                            <th scope="col">For</th>
                                            <th scope="col">Time</th>
                                            
                                        </tr>
                                    </thead>

                                    <tr>
                                        <td><b>{{shift_course.course_name}}</b></td>
                                        <td>{{shift_course.course_for}}</td>
                                        <td>{{shift_course.course_time}}</td>

                                    </tr>
                                    <tr>
                                        <td>
                                            <b>Zoom link</b>
                                        </td>
                                        <td>
                                            <a href="https://www.zoom.com">https://www.zoom.com</a>
                                        </td>
                                    </tr>
                            
                                
                                </table>
                 
                            {% endif %}

    {% endblock %}
</div>
