

.home_content{
    background-color: white;
    height: 800px;
    float: left;
}

.image_div{
 
    float: right;
}


.box{
    margin-top: 400px;
    height: 400px;
    margin-top:150px;
    margin-left: 70px;
}

.box p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: gray;
    font-size: 60px
}

.login_button{
background-color: #010444;
color: white;
border-radius: 50px;
height: 55px;
width: 180px;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 20px;

}

a .login_button:hover{
    background-color: black;
}