{% extends "users/base.html" %}
{% load crispy_forms_tags %}

{% block title %} All Products {% endblock %}
{% block heading %} All Products {% endblock %}

<div>
    {% block content %}

    <form class="" method="GET" action="/search_product" >
        <div class="input-group" >
            <input class="form-control" autocomplete="off" type="text" name="q" placeholder="Search an Item">
            <button class="btn btn-primary" style="display: inline;" type="submit">Search</button>
        </div>
    </form>

    <br><br>


    <div class="content">

        <div class="row" id="target_div">

            {% include "products/partials/add_to_cart_htmx.html" %}
            
        </div>

      

    </div>

    

    <br><br>

    {% endblock %}
</div>