{% extends "users/base.html" %}
{% load crispy_forms_tags %}

{% block title %} My Cart {% endblock %}
{% block heading %} My Cart {% endblock %}

<div>
    {% block content %}

    <div class="content">

        <div class="row">
            <div class="col-12">
                <h2 class="text-center">Shipping Details</h2>
                <h5>Reciever:</h5>
                {{user}} <br> <br>
                
                <h5>Address</h5>
                {{user_type.address}} <br><br>

                <h5>Contact</h5>
                {{user_type.contact}} <br><br>

                <h5>Email</h5>
                {{user.email}}
                <hr>
            </div>

        </div>
        {% if cart %}
            <h2 class="text-center">Cart Item(s)</h2>
            <a href="/empty_cart" style="margin-left: 80%;" class="btn btn-danger"> Empty Cart</a>

        {% else %}
            <h2 class="text-center">Cart Empty</h2>
        {% endif %}


        <br><br>
        <div class="row" id="target_div">


            {% include "products/partials/my_cart_partial.html" %}

           
            
        </div>

        {% if cart %}
        <form method="POST" action="my_orders">
            {% csrf_token %}
            <button class="btn btn-outline-success cart_button">
                Checkout
            </button>
        </form>
        {% endif %}
        
        

   

    </div>

    

    <br><br>

    {% endblock %}

    
</div>

