

.header{
    margin-left: 30%;
    margin-top: 20px;
}

.logo{
    height: 70px;
}


.content-section{
background-color: #555f78;
height: auto;
}


.form-div{
    width: 40%;
    margin-left: 30%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;


}

.form-heading{
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:25px;
    padding-top: 20px;
    padding-left: 50px;
}

.form label{
    color:#b2c9ff;
    font-weight: bold;
    margin-right: 75px;
    padding-left: 14%;

}



.form-input{
    width: 70%;
    height: 20px;
    margin-top: 10px;
    padding: 20px;
    margin-left: 90px;
}

.helptext{
    display:none;
}

.custom-button{
    width: 60%;
    height: 50px;
    margin-left: 18%;
}

.form-p{
    color:#a9c9ff;
    margin-left: 10%;
    margin-right: 10%;
    
}

.footing{
    color:#a9c9ff;
    height: 100px;
}






.login-section{
    background-color: black;
    background-image: url("/static/login_bg.jpg");
    height: 800px;
    width: 100%;
    position: absolute;
}

.teacher-form-div{
    width: 32%;
    margin-left: 35%;
    background-color: white;
    height: 300px;
    
   
}

.teacher-form-div form{
    width: 80%;
    margin-left: 10%;
}

.top-div{
    padding-top: 7%;
    width: 32%;
    margin-left: 35%;
    font-weight: bold;
    color: white;   
    background-color: black;
    opacity: 80%;
    margin-top: 180px;
    height: 290px;
}

.footer-text{
    margin-left: 35%;

}

.teacher-login{
    width: 72%;
    margin: 2px;
}






