{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'teachers/base.css' %}">
    <script src="https://kit.fontawesome.com/76bcdcf8dd.js" crossorigin="anonymous"></script>


    <title>{% block title %}Teacher{% endblock %}</title>
</head>
<body>
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}


<div class="box">
        <div class="nav">
            <a href="/teacher_dashboard"><h2>ITMP </h2></a>  &nbsp;
                <small>  V3.0 </small>

                <a href="#"><i class="fa-solid fa-bars requests"></i></a> &nbsp; &nbsp; 
                <a href="/teacher_requests"><i class="fa-regular fa-message "></i></a> &nbsp; &nbsp; 
                <a href="/teacher_settings" title="Settings"><i class="fa-solid fa-gear"></i></a>  &nbsp; &nbsp; 

                <div class="oval_div">
                    <small> {{today}} April 14, 2023 |</small>  &nbsp; <small> {{current_time}} 04:31:24  |</small>
                    <small> Welcome to ITMP 3.0 </small>
                    {{now}} 
                </div>

                <dv class="profile_div">
                    <a href="/teacher_profile/{{user}}">
                        <img class="img-fluid " src="{{ user_type.profile_img.url }}">
                        <span>Hi, {{user}}</span>

                        <i class="fa-solid fa-caret-down"></i>
                    </a>
                    <a href="/teacher_logout">Logout</a>
                </dv>
        </div>
        <!--nav div closed here-->

        <br><br>
            <div class="tehe">
                <div class="vertical_nav nav fix_nav">
            
                    <ul>
                        <li class="text-center">Menu</li>
                        <a href="/teacher_dashboard"><li><i class="fa-brands fa-slack"></i>  Dashboard</li></a>
                        <a href="/add_course"><li><i class="fa-brands fa-slack"></i>  Add courses </li></a>
                        <a href="/enrollment"><li><i class="fa-brands fa-slack"></i>  Enrollment </li></a>
                        <a href="/make_post"><li><i class="fa-brands fa-slack"></i>  Add post</li></a>
                        <a href="/teacher_posts/{{user.id}}"><li><i class="fa-brands fa-slack"></i>  My posts</li></a>
                        <a href="/teacher_profile/{{user}}"><li><i class="fa-brands fa-slack"></i>  Profile</li></a>
                        <a href="/teacher_settings"><li><i class="fa-brands fa-slack"></i>  Settings</li></a>
                        <a href="/teacher_requests"><li><i class="fa-brands fa-slack"></i>  Requests</li></a>
                        <a href="/add_products"><li><i class="fa-brands fa-slack"></i>  Add a product</li></a>
                        <a href="/all_products"><li><i class="fa-brands fa-slack"></i>  All Products</li></a>
                        <a href="/exam"><li><i class="fa-brands fa-slack"></i>  Exam Schedule</li></a>
                        <a href="my_orders"><li><i class="fa-brands fa-slack"></i>  My Orders</li></a>
                    </ul>
                    
                </div>
                    <br>

            
                    
                    <div class="right_side_main">
                        <h2>{% block heading %} Teacher's Portal {% endblock %}</h2>

                        <small class="welcome">Welcome back, {{user}}!  </small>

                        <br><br>
                        <div class="notice">
                                <small>Please note that the Teachers can only respond to requests between 10am to 4pm (Monday to Friday only)<br> <span>Account Title : ILMA UNIVERSITY Fees Payorder to be made in the name of ILMA UNIVERSITY- NTN NO: 1110000-9</span></small>
                        </div>

                        <hr>

                            <div class="base_content">
                                {% block content %}
                            
                                {% endblock %}
                            </div>
                    </div>

            </div>
                

            
    

    
















</div>












    <script src="{% static 'teachers/script.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>