{% for item in cart %}
            <div class="col-lg-4 col-md-6 col-12">
                <div class="card product_box" style="width: 18rem;">
                    <img class="card-img-top product_image" src="{{item.product.product_image.url}}" alt="Card image cap">
                    <div class="card-body">
                      <h5 style="display: inline-block;" class="card-title">{{item.product.product_name}}</h5>
                      
                    <!--TODO-->
                    <!--delete item from cart-->
                    <form style="display: inline-block;">
                        {% csrf_token %}
                            <input hidden name="product_id" value="{{item.product.id}}">
                        
                            <button hx-post="{% url 'delete_from_cart' %}" hx-target="#target_div" type="submit" style="color:black;"  class="btn btn-outline-secondary">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                    </form>


                      <p class="card-text">{{item.product.product_category }}</p>
                      <b><p class="card-text">${{item.total_price }}</p></b>


                      <!--Delete if quantity == 1 -->
                      {% if item.number_of_items == 1 %}
                      <form style="display: inline-block;">
                        {% csrf_token %}
                            <input hidden name="product_id" value="{{item.product.id}}">
                        
                            <button hx-post="{% url 'delete_from_cart' %}" hx-target="#target_div" type="submit" class="btn btn-outline-danger">
                                <i class="fa-solid fa-minus"></i> 
                            </button> &nbsp; {{item.number_of_items}}&nbsp;
                    </form>

                      {% else %}

                      <!--Decrease quantity-->
                            <form style="display: inline-block;">
                                {% csrf_token %}
                                <input hidden name="product_id" value="{{item.product.id}}">
                                

                                <button hx-post="{% url 'decrement' %}" hx-target="#target_div" type="submit" class="btn btn-outline-danger">
                                    <i class="fa-solid fa-minus"></i>
                                </button> &nbsp; {{item.number_of_items}}&nbsp;

                            </form>

                    {% endif %}

                                {% if item.number_of_items == item.product.items_remaining %}
                                <button disabled title="Can't add more" class="btn btn-outline-secondary"><i class="fa-solid fa-plus"></i></button>
                           

                                {% else %}

                                <!--Increase quantity-->
                            <form style="display: inline-block;">
                                {% csrf_token %}
                                <input hidden name="product_id" value="{{item.product.id}}">
                                
                                
                                <button hx-post="{% url 'increment' %}" hx-target="#target_div" type="submit"  class="btn btn-outline-danger">
                                    <i class="fa-solid fa-plus"></i>
                                </button>
                            </form>
                            {% endif %}

                            
                    </div>
                  </div>

                  <br> <br>
            </div>

            
            
            {% endfor %}

        <span style="color:green"> {{message}}
        </span>